.dialog-action-container{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.dialog-action{
    display: none;
    border: 1px solid #babec5;
    background: #fff;
    position: absolute;
    border-radius: 3px;
}

.dialog-action-container.active .dialog-action{
    display: block;
}

