input{
    border: none;
    border-radius: 2px;
    height: 32px;
    color: #000000;
    padding: 0px 10px;
    /* padding-left: 16px;
    padding-right: 16px; */
    border: 1px solid #babec5;
    font-family: notosans-regular;
    outline: none;
}
input:hover{
    border: 1px solid #019160;
}
input:focus{
    border-color: #019160;
    color: black;
    font-size: 13px;
}

.validate{
    border: 1px solid red !important;
}

.validate-message{
    display: none;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10000;
    background-color: rgb(214, 94, 81);
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    width: 150px;
}

.validate-message::before{
    content: "";
    background-color: rgb(214, 94, 81);
    width: 15px;
    height: 10px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.validate:hover + .validate-message{
    display: block;
}


.ms-input-container{
    display: flex;
    align-items: flex-start;
    position: relative;
    align-items: center;
    background: #fff;
    border-radius: 3px;
    color: #111;
    margin-right: 15px;
    height: 34px;
}

.ms-input:hover{
    border-width: 2px;
}

.ms-input{
    flex: 1;
    padding-right: 1.75rem;
    padding-left: .85em;
    outline: none;
    border: none;
    border: 1px solid #ebedf0;
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.ms-input::placeholder{
    font-family: notosans-italic;
}
.icon-after{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}